body {
    background-color: #dba595;
    padding: 10px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #9ad3ff;
    border-left: solid 5px #9adaff;
    background-color: #b2eeff;
    color: #8381f8;
    width: 90%;
    padding: 10px;
}

.img {
    border: double 10px #9ad8ff;
    padding: 100px;
    width: 80%;
}